<h4>Pick one or more audio files and get their metadata</h4>
<input type="file" multiple onchange="angular.element(this).scope().setFiles(this)"/>
<ul>
	<li ng-repeat="file in files">
		<div ng-show="file.info.title">Title: {{file.info.title}}</div>
		<div ng-show="file.info.album">Album: {{file.info.album}}</div>
		<div ng-show="file.info.artist">Artist: {{file.info.artist}}</div>
		<div ng-show="file.info.type">Type: {{file.info.type}}</div>
		<div ng-show="file.info.size">Size: {{file.info.size}}</div>
		<div ng-show="file.info.bitRate">Bitrate: {{file.info.bitRate}}bps</div>
		<div ng-show="file.info.channels">Channels:
			<span ng-show="file.info.channels == 1">Mono</span>
			<span ng-show="file.info.channels == 2">Stereo</span>
			<span ng-show="file.info.channels > 2">{{file.info.channels}}</span>
		</div>
		<div ng-show="file.info.bits">Sample size: {{file.info.bits}}bits</div>
		<div ng-show="file.info.sampleRate">Sample rate: {{file.info.sampleRate}}Hz</div>
	</li>
</ul>